<div class="row p-3">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">

        <div class="card govco-card">
            <div class="card-body">
                <div class="d-flex align-items-center masUsados ">
                    <span class="mr-auto color-dodger-blue">Los tramites mas usados</span>
                    <span class="govco-icon govco-icon-plus size-3x color-dodger-blue"></span>
                </div>
                <h2 class="headline-xl-govco">Certificado de antecedentes de responsabilidad fiscal</h2>
                <span class="small-text-govco color-dark-blue mt-5">Contraloría general de la República</span>
                <button type="button" class="btn-symbolic-govco mt-4">
                    <span class="govco-icon govco-icon-check-cn color-green-important size-2x"></span>
                    <span class="btn-govco-text textright-govco color-green">Disponible en línea</span>
                </button>
        
                <div class="d-flex justify-content-center paginados mt-4">
                    <div class="navegador active"></div>
                    <div class="navegador"></div>
                    <div class="navegador"></div>
                    <div class="navegador"></div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        
        <div class="description" *ngFor="let tramite of tramites">
            <p class="subtitle-govco">{{ tramite.nombre }}</p>
            <span class="small-text-govco color-dark-blue">{{ tramite.entidad }}</span>
            <div class="d-flex menu justify-content-start">
                <div class="online" *ngIf="tramite.online">
                    <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-check-cn size-2x"></span>
                        <span class="btn-govco-text textright-govco ">Disponible en línea</span>
                    </button>
                </div>

                <div class="link d-flex align-items-center mr-5" *ngIf="!tramite.online">
                    <a class="text-decoration-none" href="http://google.com">Trámite presencial</a>
                </div>


                <div class="costo" *ngIf="!tramite.costo">
                    <button type="button" class="btn-symbolic-govco">
                        <span class="govco-icon govco-icon-tramite-sin-costo size-2x"></span>
                        <span class="btn-govco-text textright-govco">Trámite con costo</span>
                    </button>
                </div>

                <div class="link d-flex align-items-center">
                    <a class="" href="http://google.com">Ver todo el trámite</a>
                </div>
            </div>
            <hr class="line">
        </div>
      
        <a href="#" class="mastramites d-flex align-items-center justify-content-end text-decoration-none">
            <label class="color-dodger-blue">Conocer otros trámites</label>
            <span class="govco-icon govco-icon-right-arrow size-2x color-dodger-blue"></span>
        </a>


    </div>
</div>