.govco-card{

    border:1px solid #3772FF;
    
    .headline-xl-govco{
        font-family: 'Montserrat-Light';
    }

    button{
        margin-left: -12px;

        span{
            color: #069169 !important;
        }

        .btn-govco-text{
            font-family: 'Montserrat-Light';
        }
    }

    .paginados{
        .navegador{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #BABABA;
            margin-right: 0.5rem;
            &.active{
                background-color: #3772FF; 
            }
        }
    }


}

.menu{
    
    div{
        flex: 1 1 auto!important;
        text-align: left;

        span.btn-govco-text , a{
            font-family: 'Montserrat-Light' !important;
            font-weight: lighter;
        }

        a{
            text-decoration: underline;
        }

        &.online{
            button{
                span{
                    color: #069169 !important;
                }
            }
        }

        &.costo{
            button{
                span{
                    color: #3772FF !important;
                }
            }
        }
    }
}

.line{
    margin-top: -5px;
}


.mastramites{
    label{
        margin: 0 !important;
        font-family: 'Montserrat-Light' !important;
    }
}
