<div class="row p-3">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">

        <h1 class="headline-xxl-govco">Queremos conocer tu opinión</h1>
        
        <div class="description" *ngFor="let evento of eventos">
            <p class="subtitle-govco text-uppercase text-light w-50 pl-2" [ngClass]="evento.clase">{{ evento.tiempo}}</p>
            <p class="description-govco">{{evento.nombre}}</p>
            <div class="d-flex">
                <span class="small-text-govco color-dark-blue">{{ evento.entidad }}</span>
                <span class="small-text-govco color-dark-blue ml-auto" *ngIf="evento.participantes > 0 " > {{evento.participantes}} colombianos participando</span>
            </div>
            <hr class="line">
        </div>

        <a href="#" class="mastramites d-flex align-items-center justify-content-end text-decoration-none">
            <label class="color-dodger-blue">Conocer otros ejercicios de participación</label>
            <span class="govco-icon govco-icon-right-arrow size-2x color-dodger-blue"></span>
        </a>


    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">

        <div class="card govco-card">
            <div class="card-body">
                <h2 class="headline-xl-govco m-montserrat-light">Cuéntanos</h2>
                <h3 class="headline-l-govco m-montserrat-light">¿Cómo podemos mejorar GOV.CO?</h3>
                <span class="small-text-govco color-dark-blue m-montserrat-light mb-2">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</span>
                
                <form [formGroup]="_registerForm" (ngSubmit)="onSubmitForm()">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example" formControlName="comentario" required [ngClass]="{ 'is-invalid': submitted && _registerForm.controls.comentario.errors }" ></textarea>
                        <div class="invalid-feedback" *ngIf="submitted && _registerForm.controls.comentario.errors">
                            <div class="text-danger" *ngIf="_registerForm.controls.comentario.errors.required">
                                Comentario requerido
                            </div>
                            <div class="text-danger" *ngIf="_registerForm.controls.comentario.errors.minlength">
                                Mínimo 10 caracteres
                            </div>
                            <div class="text-danger" *ngIf="_registerForm.controls.comentario.errors.maxlength">
                                Máximo 255 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-round btn-middle ">Enviar mi opinión</button>
                    </div>
                </form>
               
            </div>
        </div>

        
    </div>
</div>

<!-- Botón que activa el modal Largo-->
<button id="btnAbrirModal" [hidden]="true" type="button" class="btn btn-round btn-high" data-toggle="modal" data-target="#modal-largo">Modal Corto</button>

<!-- Modal Largo-->
<div class="modal fade show alert-modal" id="modal-largo" tabindex="-1" role="dialog" aria-labelledby="modal-title-govco" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Cerrar ventana" title="Cerrar ventana">x</button>
            </div>
            <div class="modal-body text-center modal-content-info">
              <span class="govco-icon govco-icon-check-cn"></span>
              <h2 class="headline-xl-govco">
                  Comentario enviado
              </h2>
              <p>Para nuestro equipo son muy importantes tus commentarios, muchas gracias.</p>
            </div>
        </div>
    </div>
</div>