.headline-xxl-govco{
    font-family: 'Montserrat-Light';
}

.mastramites{
    label{
        margin: 0 !important;
        font-family: 'Montserrat-Light' !important;
    }
}

.description-govco{
    margin-bottom: 0.5rem;
}

.m-montserrat-light{
    font-family: 'Montserrat-Light' !important; 
}

textarea{
    background-color: rgba(157,190,255,.3)!important;
    border-radius: .8rem!important;
    font-weight: 600!important;
    padding: 5% 5% 10%;
    height: 12.063rem;
}