.btn-login{


    span:nth-child(1){
        color: #3366cc !important;
        background-color: #ffffff;
        font-size: 1rem;
        border-radius: 5px;
        padding: 2px 5px;
    }

    span:nth-child(2){
        color: #ffffff !important;
    }


}

.menu-inf{
    li{
        flex: 1 1 auto!important;
        text-align: center;
    }
}