<app-header></app-header>
<app-buscador></app-buscador>
<section id="sectionContainer" class="w-75 mx-auto">
    <app-tramites-usados></app-tramites-usados>
    <app-opiniones class="mt-5"></app-opiniones>
</section>
<app-footer></app-footer>
