<div class="jumbotron">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <h1 class="text-light headline-xxl-govco intro mb-3">¡Te damos la bienvenida!</h1>
            <div class="form-search-bar-jumbotron d-flex">
                <input class="form-control ml-3 mt-1 mr-auto search-navbar search-desktop-searchTerm searchTerm"
                type="search"
                placeholder="Encuentra aquí lo que buscas"
                aria-label="Search"
                name="searchTerm"
                id="search-jumbotron"
                />
                <span class="justify-content-end govco-icon govco-icon-search-cn icon-search notranslate mr-1 size-3x"></span>
            </div>
            <h2 class="headline-xl-govco text-light mt-4">Toda la oferta del Estado colombiano a tu alcance</h2>
        </div>
    </div>
</div>