.jumbotron{
    margin-top: 100px;
    height: 60vh;
    background-image:url('./../../../../assets/img/foto-bandera.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .intro{
        font-family: 'Montserrat-Light';
        font-size: 4em;
    }

    .form-search-bar-jumbotron{
        background-color: white;
        border-radius: 2.5rem;

        input{
            border-color: transparent !important;
            font-size: 1.3rem;
        }

        span{
            margin: -10px;
        }
    }

    .headline-xl-govco{
        font-family: 'Montserrat-Light';
    }
}

