@font-face{
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'Montserrat-Light';
    src: url('assets/fonts/montserrat/Montserrat-ExtraLight.ttf');
}