.page__footer .container .footer-container .nav-footer .item-footer {
    width: 9.25rem;
}


.m-montserrat-light{
    font-family: 'Montserrat-Light' !important; 
}

.page__footer {
    padding-bottom: 25px;
    padding-top: 25px;

    .title-footer{
        margin-bottom: 15px !important;
    }
}